<?xml version="1.0" ?>

<launch>
    <arg name="robot_type"          default="humanoid"/>
    <arg name="robot_version"       default="$(optenv ROBOT_VERSION 40)"/>
    <arg name="description_name"    default="humanoid_description"/>
    <arg name="use_external_mpc"    default="true"/>
    <arg name="wbc_frequency"       default="1000"/>
    <arg name="sensor_frequency"    default="1000"/>
    <arg name="inference_frequency" default="100"/>
    <arg name="use_joystick"        default="true"/>
    <arg name="deformation_flag"    default="false"/>
    <arg name="with_estimation"     default="true"/>
    <arg name="use_joint_filter"    default="false"/>
    <arg name="estimator_type"      default="1"/>
    <arg name="wbc_only"            default="true"/>
    <arg name="play_back"           default="false"/>  
    <arg name="joystick_type"       default="sim"/>
    <arg name="start_way"           default="manual"/>
    <!-- <arg name="control_frequency"   default="1000"/> -->
    
    <include file="$(find humanoid_controllers)/launch/robot_version_manager.launch">
      <arg name="robot_version" value="$(arg robot_version)"/>
    </include>
    <arg name="rl_param"  default="$(find humanoid_controllers)/config/kuavo_v$(arg robot_version)/rl/zyc_rl_param.info"/>
    <arg name="network_model_file" default="$(find humanoid_controllers)/model/networks"/>

    <!-- make the files into global parameters -->
    <param name="robot_version"               value="$(arg robot_version)"/>
     <param name="wbc_only"                   value="$(arg wbc_only)"/>
    <param name="use_external_mpc"            value="$(arg use_external_mpc)"/>
    <param name="wbc_frequency"               value="$(arg wbc_frequency)"/>
    <param name="deformation_flag"            value="$(arg deformation_flag)"/>
    <param name="sensor_frequency"            value="$(arg sensor_frequency)"/>
    <param name="with_estimation"             value="$(arg with_estimation)"/>
    <param name="use_joint_filter"            value="$(arg use_joint_filter)"/>
    <param name="estimator_type"              value="$(arg estimator_type)"/>
    <param name="joystick_type"               value="$(arg joystick_type)"/>
    <param name="play_back"                   value="$(arg play_back)"/>
    <param name="network_model_file"          value="$(arg network_model_file)"/>
    <param name="rl_param"                    value="$(arg rl_param)"/>
    <param name="inference_frequency"         value="$(arg inference_frequency)"/>
    <param name="start_way"                   value="$(arg start_way)"/>
    <!-- <param name="control_frequency"           value="$(arg control_frequency)"/> -->

    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" respawn="false" output="screen" required="true" />

    <node pkg="nodelet" type="nodelet" name="nodelet_controller" args="load HumanoidControllerNodelet nodelet_manager" respawn="false" output="screen" required="true">
      </node>
    <group unless="$(arg play_back)">
      <include file="$(find mujoco_cpp)/launch/nodelet.launch"/>
    </group>
    <include file="$(find humanoid_interface)/launch/rosbag_nodelet.launch"/>
    <group if="$(arg use_joystick)">
      <group if="$(eval arg('joystick_type') == 'h12')">
        <include file="$(find humanoid_controllers)/launch/joy/joy_control_h12.launch">
          <arg name="start_way" value="$(arg start_way)"/>
        </include>
      </group>
      <group unless="$(eval arg('joystick_type') == 'h12')">
        <include file="$(find humanoid_controllers)/launch/joy/joy_control_bt.launch">
          <arg name="joystick_type" value="$(arg joystick_type)"/>
        </include>
      </group>
    </group>

     <!-- <group if="$(arg play_back)"> -->
      <!-- <include file="$(find humanoid_interface)/launch/rosbag_nodelet_player.launch"/> -->
      <!-- </group> -->
    <!-- <group if="$(arg use_joystick)">
      <include file="$(find humanoid_controllers)/launch/joy_control.launch"/>
    </group> -->
</launch>
